// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

.light {
  --mainColor: #03DA9F; // COR DOS BOTOES
  --hoverColor: #24685D; // COR HOVER BOTOES
  --backgroundColor: #1E1F1F; // COR DE FUNDO
  --darkOne: #FFFFFF; // TITULO PRINCIPAL
  --darkTwo: #03DA9F; // COR DAS LETRAS DO LOGO
  --lightOne: #828281; // TEXTO SECUNDARIO
  --lightTwo: #FFFFFF; // COR DO TEXT DOS BOTOES
}

.dark {
  --mainColor: #64bcf4;
  --hoverColor: #5bacdf;
  --backgroundColor: #192e3a;
  --darkOne: #f3f3f3;
  --darkTwo: #fff;
  --lightOne: #ccc;
  --lightTwo: #e7e3e3;
}
