<section class="vh-100 light">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="card_total_info">

        <div class="card">
          <div class="card-body text-center">
            <div class="placeholder" >
            <%= image_tag "img_placeholder.jpg" %>
            </div>
          </div>

          <div><p class="mb-2"> <%= @user.first_name %> <%= @user.last_name %></p></div>
            <div class="mb-4 pb-2">
              <h1 class="personal_info">Informação Pessoal</h1>
              <p class= "details">Email:</p>

              <p class="mb-2"> <%= @user.email %></p>
                <br>
                <p class= "details">Morada:</p>
                <p style="color: white">Display@daMorada.com</p>
                <br>
              <a class="btn" href="edit.html" >Edit</a>
            </div>
                <br>
        </div>
      </div>
    </div>
  </div>

</section>
