<div class="footer">
  <div class="footer-links">
    <a href="/"><i class="fa-solid fa-arrow-left"></i></a>
    <a href=""><i class="fa-solid fa-car" data-action="click->map_controller#showCar"></i></a>
    <a href="/users/edit"><i class="fa-solid fa-user"></i></a>
  </div>
</div>
