<div class="footer">
  <div class="footer-links">
    <a href="/"><i class="fa-solid fa-arrow-left"></i></a>
    <a href="#"><i class="fa-solid fa-car"></i></a>
    <a href="/users/edit"><i class="fa-solid fa-user"></i></a>
  </div>
</div>
