<div class="footer">
  <div class="footer-links">
    <a href="/"><i class="fa-solid fa-arrow-left"></i></a>
    <a href="" data-action="click->map#flyToCar"><i class="fa-solid fa-car"></i></a>
    <a href="/users/profile"><i class="fa-solid fa-user"></i></a>
  </div>
</div>
