<header>


  <div class="overlay"></div>

    <div class="hamburger-menu">
              <%# <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Pricing</a>
                </li>
              </ul> %>
      <div class="bar"></div>
    </div>
  </div>
</header>
<body>
    <%= render "shared/navbar" %>
        <div class="showcase-area">
          <div class="container">
            <div class="left">
              <div class="big-title">
                <p class="h1">Getting there together,</p>
                <h1>Parking made easy.</h1>
              </div>
              <p class="text">
                Knowing where to park saves you time.
                You'll never be late for that business meeting
                or your best friend's dinner party!
              </p>
              <div>
                <a href="/streets" class="btn">Get started</a>
              </div>
            </div>

            <div class="right">
               <%= image_tag "street.jpg" %>
            </div>
          </div>
        </div>

        <div class="bottom-area">
          <div class="container">
            <button class="toggle-btn">
              <i class="far fa-moon"></i>
              <i class="far fa-sun"></i>
            </button>
          </div>
        </div>
      </div>
    </main>
</body>

    <!-- JavaScript Files -->

    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <script src="/app/javascript/controllers/application.js"></script>
