<div class="big-wrapper light">
        <%# <img src="./img/shape.png" alt="" class="shape" /> %>

        <header>
          <div class="container">
            <div class="logo">
              <%= image_tag "logo.png" %>
              <h3>My Park</h3>
            </div>

            <div class="links">
              <ul>
                <% if user_signed_in? %>

                <li><a href="#" class= "before_signin">Features</a></li>
                <li><a href="/users/profile" class= "before_signin">My Profile</a></li>
                <% else %>
                <li><a href="#" class= "hide_btns">Features</a></li>
                <li><a href="/users/profile" class= "hide_btns">My Profile</a></li>
                <% end %>
                <li> <% if user_signed_in? %>
                  <div> <% current_user.first_name %> </div>
                <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "btn" %>
                <% else %>
                  <%= link_to "Sign in", user_session_path, class: "btn" %>
                <% end %></li>

              </ul>
            </div>

            <div class="overlay"></div>

            <div class="hamburger-menu">
              <div class="bar"></div>
            </div>
          </div>
        </header>

        <div class="showcase-area">
          <div class="container">
            <div class="left">
              <div class="big-title">
                <h1>Getting there together,</h1>
                <h1>Parking made easy.</h1>
              </div>
              <p class="text">
                Knowing where to park saves you time.
                You'll never be late for that business meeting
                or your best friend's dinner party!
              </p>
              <div class="cta">
                <a href="/streets" class="btn">Get started</a>
              </div>
            </div>

            <div class="right">
               <%= image_tag "street.jpg" %>
            </div>
          </div>
        </div>

        <div class="bottom-area">
          <div class="container">
            <button class="toggle-btn">
              <i class="far fa-moon"></i>
              <i class="far fa-sun"></i>
            </button>
          </div>
        </div>
      </div>
    </main>

    <!-- JavaScript Files -->

    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <script src="/app/javascript/controllers/application.js"></script>
