.footer {
  background: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 0px 50px;
  color: #828281;
  align-items: center;
  justify-content: center;

}
.footer-links {
  align-items: center;
}
.footer-links a {
  color: lightgrey;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 18px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}
