.container_login {
  // background-color: #1E1F1F !important;
  color: #03DA9F;
  max-height: max-content;
}
.h2 {
  color: white !important
}

.mapboxgl-ctrl-geocoder {
  max-width: none;
  width: 100%;
  border: 0px;
  box-shadow: 0,0,8, 50% black;
  background-color: transparent;
  text-align: center;
  align-items: center;
}

html, body {
  height: 100%;
  margin: 10px;
  background-color: #1E1F1F !important;
  position: relative;

 }

.full-height {
  height: 100%;
  background-color: #1E1F1F !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card_container_profile {

  border-width: 6px;
  border-style: solid;
  border-color: #03DA9F;
  padding: 40px;
  margin: 0 auto;
 }

 .vertical-center {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
