.navbar-lewagon {
  justify-content: space-between !important;
  // background-color: transparent;

  // background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-brand {
  color: #03da9f;
  font-size: 1.55rem;
  line-height: 1.2;
  font-weight: 700;
  display: -webkit-inline-box;

}
 .fas {
  color: #03da9f;
}

.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
  color: white;
  margin-top: 8px;
  text-align: end;
}

.navbar-toggler-icon {

  background-color: transparent;
}

.navbar-toggler {
  background-color: #03da9f;
  border-radius: 8px;
}

.right {
  padding-bottom: 50px !important;
}

.submitpark {
  margin-top: 6px !important;
}

#btn-home {
  padding: 16px !important;
  margin-bottom: 10px;
}

#homepage-fluid {
  justify-content: space-between !important;
  padding-left: 24px;
  padding-right: 24px;
}

.homepage-toggler {
  margin: 0px !important;
  position: relative !important;

}

#drop_signout {
  background: transparent;
  padding: 0px;
}
