#instructions {

  height: 120px;
  width: 100%;
  //top: 0px;
  bottom: 62px;
  background-color: rgba(130,130,129, 0.3);
  //background: #828281;
  color: white;
  //overflow-y: scroll;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  //opacity: 30%;
  border-radius: 15px;
  padding: 0;
  right: 0;
  bottom: 0;
}
