#instructions {
  font-weight: 800;
  height: 320px;
  width: 100%;
  text-align: center;
  //top: 0px;
  bottom: 62px;
  background-color: rgba(130,130,129, 0.3);
  backdrop-filter: blur(3.5px);
  //background: #828281;
  color: white;
  //overflow-y: scroll;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  //opacity: 30%;
  border-radius: 15px;
  padding-top: 50px;
  padding-left: 30px;
  padding-right: 30px;
  right: 0;
  bottom: 0;
}

.street-name {
  font-weight: bolder;
  font-size: 27px;
}

.street-availability {
  font-family: sans-serif;
}

#park_btn .btn {
  width: 80% !important;
}
