.card {
  border-radius: 5px;
  background-color: #1E1F1F;
}

.mb-2 {
  color: white;
}

.vh-100 {
  background-color: #1E1F1F;
}


.personal_info {
  color: #03DA9F;
  font-size: 16px;
}

.details {
  color: #828281;
}

.avatar {
  vertical-align: middle;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}


.card_total_info {
  text-align: center;
}

.edit_title {
  text-align: -webkit-center;
  color: white
}

.container_edit_items {
  padding: 90px;
}

#btn_btn-link {
  align-items: center;
}

.container_bottom {
  justify-items: center;
}


.form-control {
  background-color: #1E1F1F;
  color: #828281
}


.card-body {
  align-self: center
 }



 .card_container_profile {
  border-width: 6px;
  border-style: solid;
  border-color: #03DA9F;
 }
